{% extends 'list.html' %} {% load static %} {% block head_list %}


{% endblock %} {% block columns %}
<tr>
  <th scope="col">Id</th>
  <th scope="col">Nombre</th>
  <th scope="col">Opcion</th>
</tr>
{% endblock %} {% block rows %}
<!-- Aquí irán las filas dinámicas -->
{% endblock %} {% block buttonAdd %}
<button
  id="nuevoRegistro"
  class="btn btn-LightSeaGreen btn-flat btnTest text-white"
>
  Nuevo Registro
</button>
{% endblock %}
{% block javascript %}
<script src="{% static 'cargoEstado/estadoList.js' %}"></script>

<script type="text/javascript">
  var createUrl = "{% url 'asys:create-estado' %}";
  var csrfToken = "{{ csrf_token }}";
  var titulo = "{{titulo}}";
</script>
{% endblock %}