<!-- templates/notas/nota_form.html -->
{% extends 'body.html' %}
{% load custom_filters %}

{% block contents %}
  {% csrf_token %}
  <div class="contents">
    <h2>Crear Notas</h2>
    <div class="card text-white bg-warning mt-4 row">
      <form method="post">
        <div class="card-header row">{{ form.titulo.label|upper }}{{ form.titulo }}</div>
        <div class="card-body row">
          <h4>{{ form.contenido.label|upper }}</h4>
          {{ form.contenido }}
        </div>
      </form>
    </div>
    <button class="btn btn-LightSeaGreen text-white" type="submit"><i class="fas fa-save"></i> Guardar</button>
    <a href="{% url 'asys:nota_list' %}" class="btn btn-danger btn-flat"><i class="fas fa-times"></i> Cancelar</a>
  </div>

  <style>
    /* Estilos personalizados */
    .card-body input[type='text'],
    .card-body textarea {
      background-color: #f6b73c; /* Color de fondo deseado para input */
      color: white; /* Color de texto blanco */
      border: none; /* Elimina el borde si lo deseas */
      padding: 10px; /* Ajusta el relleno según sea necesario */
      width: 100%; /* Ajusta el ancho del input */
    }
    
    .card-header input[type='text'],
    .card-header textarea {
      background-color: #f6b73c; /* Color de fondo deseado para input */
      color: white; /* Color de texto blanco */
      border: none; /* Elimina el borde si lo deseas */
      padding: 10px; /* Ajusta el relleno según sea necesario */
      width: 100%; /* Ajusta el ancho del input */
    }
  </style>
{% endblock %}
