data {
    width: 100%;
    background-image: url("{% static 'miembro/images/background.jpg' %}");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff; /* Ajusta el color del texto si es necesario */
}
