{% extends 'home.html' %}
{% load static %}

{% block head %}
    <!-- Aquí va cualquier CSS adicional específico de esta página -->
{% endblock head %}

{% block body %}

    <!-- Header -->
    {% include 'header.html' %}

    <!-- Contenido Principal -->
    <div>
        <div class="row">
            <div class="col-12">
                <!-- Aquí va el contenido específico de cada página -->
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </div>

    <!-- Footer -->
    {% comment %} {% include 'footer.html' %} {% endcomment %}
{% endblock %}

{% block javascript %}
    <!-- Aquí va el JavaScript específico de esta página -->

{% endblock %}