{% extends 'home.html' %}
{% load static %}

{% block head %}
    <!-- Aquí va cualquier CSS adicional específico de esta página -->
{% endblock head %}

{% block body %}

    <!-- Header -->
    {% include 'header.html' %}

    <!-- Contenido Principal -->


            
         <!-- Aquí va el contenido específico de cada página -->
        {% block content %}
        {% endblock content %}
            
  


    <!-- Footer -->
{% endblock %}

{% block javascript %}
    <!-- Aquí va el JavaScript específico de esta página -->

{% endblock %}