{% load static %}

  
    <!-- ======= Top Bar ======= -->
    <div id="topbar" class="d-flex align-items-center fixed-top">
      <div class="container d-flex align-items-center justify-content-center justify-content-md-between">
        <div class="align-items-center d-none d-md-flex">
          <i class="bi bi-person-check-fill"></i>Bienvenido, {{ user.first_name }} {{ user.last_name }}
        </div>
        <div class="d-flex align-items-center">
          <i class="bi bi-phone"></i> Contactanos ahora +1 809 986 6178
        </div>
      </div>
    </div>
  
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
      <div class="container d-flex align-items-center">
  
        <a href="{% url 'index' %}" class="logo me-auto"><img src="{% static 'assets/img/logo.png' %}" alt=""></a>

  
        <nav id="navbar" class="navbar order-last order-lg-0">
          <ul>
            <li><a class="nav-link scrollto " href="{% url 'index' %}">Home</a></li>
            <li><a class="nav-link scrollto" href="{% url 'asys:miembro_list' %}">Miembros</a></li>
            <li><a class="nav-link scrollto" href="{% url 'asys:service_list' %}">Servicios</a></li>
            <li class="dropdown"><a href="#"><span>Asistencia</span> <i class="bi bi-chevron-down"></i></a>
              <ul>
                <li><a href="{% url 'asys:list_asistencia_general' %}">General</a>
                <li><a href="{% url 'asys:list_asistencia' %}">Jovenes</a>
                <li><a href="{% url 'asys:list_asistencia_damas' %}" >Damas</a>
                <li><a href="{% url 'asys:list_asistencia_caballeros' %}">Caballeros</a>
                
              </ul>
            </li>
            <li class="dropdown"><a href="#"><span>Utilidades</span> <i class="bi bi-chevron-down"></i></a>
              <ul>
                <li><a href="{% url 'asys:nota_list' %}">Notas</a>
                <li><a href="{% url 'asys:proceso_transicion_list' %}" >Cambio Directiva</a>
                <li><a href="{% url 'asys:tareas-list' %}">Tareas</a>
                <li><a href="{% url 'asys:lista_presentaciones' %}">Presentacion de Niños</a>
                <li><a href="{% url 'asys:lista_estudios' %}">Estudio Biblico</a>
                
              </ul>
            </li>


            <li class="dropdown"><a href="#"><span>Configuracion</span> <i class="bi bi-chevron-down"></i></a>
              <ul>
                <li><a href="{% url 'asys:list-estado' %}">Agregar Estado</a>
                <li><a href="{% url 'asys:list-cargo' %}">Agregar Cargos</a>
                <li><a href="{% url 'asys:registro_list' %}">Registro Finanza</a>
                <li><a href="{% url 'lista_usuarios' %}">Usuarios</a>
              </ul>
            </li>
            <li><a class="nav-link scrollto" href="{% url 'asys:contacto' %}">Contacto</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
  
        <a href="{% url 'logout' %}" class="appointment-btn scrollto"><span class="d-none d-md-inline">Salir</span> </a>
  
      </div>

    </header><br><br><br><br><br><!-- End Header -->
