{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="sourceMap" content="false">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>Sistema de Registro</title>

    <!-- Favicons -->
    <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
    <link href="{% static 'assets/img/logos.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="{% static 'css/fonts-google.css' %}" rel="stylesheet">

    <!-- Bootstrap Icons -->
    <link href="{% static 'bootstrap-icons/font/bootstrap-icons.css' %}" rel="stylesheet">

    <!-- CSS Principal -->
    <!-- Bootstrap CSS -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Select2 CSS -->
    <link href="{% static 'css/select2/select2.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/select2/select2-bootstrap-5-theme.min.css' %}" rel="stylesheet"/>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">

    <!-- DataTables CSS -->
    <link href="{% static 'lib/datatables-1.10.20/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/css/responsive.bootstrap4.min.css' %}" rel="stylesheet">

    <!-- Otros estilos -->
    <link href="{% static 'lib/jquery-confirm-v3.3.4/jquery-confirm.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/helper.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/estiloTabla.css' %}" rel="stylesheet">
    <link href="{% static 'css/daterangepicker.css' %}" rel="stylesheet">

    <!-- Media de Django (para formularios) -->
    {{ form.media.css }}

    {% block head %}{% endblock %}
</head>

<body class="bg-light">
    {% block body %}{% endblock %}

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
        <i class="bi bi-arrow-up-short"></i>
    </a>

    <!-- jQuery primero -->
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>

    <!-- Inputmask -->
    <script src="{% static 'js/jquery.inputmask.min.js' %}"></script>

    <!-- Select2 JS -->
    <script src="{% static 'css/select2/select2.min.js' %}"></script>

    <!-- Bootstrap JS -->
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.bundle.min.js.map' %}"></script>
    

    <!-- DataTables y sus plugins -->
    <script src="{% static 'lib/datatables-1.10.20/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/responsive.bootstrap4.min.js' %}"></script>

    <!-- Otros scripts -->
    <script src="{% static 'lib/jquery-confirm-v3.3.4/jquery-confirm.min.js' %}"></script>
    <script src="{% static 'lib/sweetalert2-9.10.0/sweetalert2.all.min.js' %}"></script>

    <!-- Django Select2 JS -->
    <script src="{% static 'js/django_select2.js' %}"></script>

    <!-- Scripts personalizados -->
    <script src="{% static 'js/functions.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script src="{% static 'js/offcanvas.js' %}"></script>
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/daterangepicker.min.js' %}"></script>

    {% block javascript %}{% endblock %}
</body>

</html>