/* Define el color y la animación para el enlace */
.eliminar-link {
  color: red; /* Color rojo para el enlace */
  text-decoration: #dc3545;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.eliminar-link:hover {
  color: darkred; /* Cambia a un rojo más oscuro al pasar el mouse */
  transform: scale(1.1); /* Aumenta ligeramente el tamaño */
}


.editar-link:hover {
  color: rgb(4, 71, 62); /* Cambia a un rojo más oscuro al pasar el mouse */
  transform: scale(1.1); /* Aumenta ligeramente el tamaño */
}


.card-deck .card {
  transition: transform 0.3s, box-shadow 0.3s;
}

.card-deck .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card-header {
  background-color: #ffc107; /* Cambia el color del encabezado si es necesario */
  color: #fff;
}

.card-footer {
  background-color: transparent;
  border-top: none;
}

.update-link, .delete-link {
  display: inline-block;
  margin: 0 5px;
  color: white;
}

.update-link i, .delete-link i {
  margin-right: 5px;
}

.btn-primary.update-link {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-danger.delete-link {
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-primary.update-link:hover, .btn-danger.delete-link:hover {
  text-decoration: none;
  opacity: 0.8;
}
