.card-tarea {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 2px;
    margin-bottom: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.card-title {
    font-size: 19px;
    margin-bottom: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-text {
    margin-bottom: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.card-pendiente {
    background-color: #e14444;
    border: 1px solid #0aedb8;
    color: rgb(241, 247, 241);
    border-radius: 8px;
    padding: 2px;
    margin-bottom: 16px;
    margin: auto;
}

.btn {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
}

.btn-secondary {
    background-color: #6c757d;
    padding: 4px;
    margin: 1%;
}

.card-completado{
    background-color: #44e17e;
    border: 1px solid #0aedb8;
    color: rgb(241, 247, 241);
    border-radius: 8px;
    padding: 2px;
    margin-bottom: 16px;
    margin: auto;

}

.form-container {
    min-height: 100vh;
    display: flex;
    align-items: stretch;
  }

.image-side {
    flex: 1;
    background-image: url("{% static 'img/tareas.jpg' %}");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  
.form-side {
    flex: 1;
    padding: 2rem;
    background-color: #fff;
    box-shadow: -5px 0 15px rgba(0,0,0,0.1);
  }

.form-label {
    font-weight: 500;
    color: #333;
    margin-bottom: 0.5rem;
  }

  .form-control {
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 0.5rem;
  }

  .form-control:focus {
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
  }

  .input-group-text {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
  }